:host {
  align: {
    items: center;
  }
  background: {
    color: rgba(255, 255, 255, 0.75);
  }
  backdrop: {
    filter: blur(18px);
  }
  display: grid;
  grid: {
    auto: {
      flow: column;
    }
    column: {
      gap: 24px;
    }
    template: {
      columns: 1fr;
    }
  }
  padding: 22px;
  position: sticky;
  top: 0;
}
