@import "../breakpoints/breakpoint/breakpoint";

:host {
  display: grid;
  grid: {
    auto: {
      flow: column;
    }
    column: {
      gap: 48px;
    }
  }
  justify: {
    content: center;
  }
}
