:host {
  background: {
    color: #7f6bf8;
  }
  border: {
    radius: 9999px;
  }
  display: grid;
  grid: {
    auto: {
      flow: column;
    }
    column: {
      gap: 8px;
    }
  }
  padding: 6px 16px;

  .label {
    display: grid;
    grid: {
      auto: {
        flow: column;
      }
      column: {
        gap: 6px;
      }
    }

    &-title {
      color: #fff;
      cursor: default;
      display: block;
      font: {
        size: 13px;
        weight: lighter;
      }
    }
  }
}
