.button {
  align: {
    items: center;
  }
  appearance: none;
  background: {
    color: var(--action-button-background-color, #7f6bf8);
  }
  border: {
    radius: 4px;
    width: 0;
  }
  cursor: pointer;
  display: inline-flex;
  filter: saturate(1);
  padding: 10px 22px;
  transition: {
    duration: 500ms;
    property: filter;
    timing-function: ease;
  }

  &:focus, &:hover {
    filter: saturate(2.5);
  }

  &-label {
    &-title {
      color: var(--action-button-color, #fff);
      display: block;
      font: {
        size: 16px;
      }
    }
  }
}
