:host {
  background: {
    color: var(--card-background-color);
  }
  border: {
    radius: 24px;
  }
  display: grid;
  grid: {
    row: {
      gap: 12px;
    }
  }
  padding: 24px;
  user: {
    select: none;
  }
}
