:host {
    background: {
        color: #1a1a1a;
    }
    border: {
        radius: 9999px;
    }
    display: block;
    padding: 6px 16px;

    .label {
        &-title {
            color: #ffffff;
            cursor: default;
            display: block;
            font: {
                size: 12px;
                weight: lighter;
            }
        }
    }
}
