<page [loading]="false">
  <page-frame>
    <linkages>
      <linkage>
        <icon [name]="'toys'"></icon>
      </linkage>
    </linkages>
  </page-frame>
  <page-window>
    <page-masthead [title]="'Styles'"></page-masthead>
    <page-view>
      <h2>Buttons</h2>
      <buttons>
        <action-button [title]="'Action'"></action-button>
        <cancel-button [title]="'Cancel'"></cancel-button>
        <icon-button [title]="'Icon'">
          <icon [name]="'power'"></icon>
        </icon-button>
        <link-button [link]="'http://www.google.com'" [title]="'Link'"></link-button>
        <submit-button [title]="'Submit'"></submit-button>
      </buttons>
      <h2>Cards</h2>
      <cards>
        <card>
          <card-content>
            <p>
              Lorem ipsum dolar sit ahmet consector.
            </p>
          </card-content>
        </card>
      </cards>
      <h2>Grids</h2>
      <grid></grid>
      <h2>Icons</h2>
      <icons>
        <icon [name]="'power'"></icon>
        <icon [name]="'photo'"></icon>
        <icon [name]="'phone'"></icon>
        <icon [name]="'person'"></icon>
        <icon [name]="'tablet'"></icon>
      </icons>
      <h2>Linkages</h2>
      <linkages>
        <linkage>
          <icon [name]="'person'"></icon>
        </linkage>
        <linkage>
          <icon [name]="'tablet'"></icon>
        </linkage>
      </linkages>
      <h2>Tags</h2>
      <tags>
        <tag [title]="'Tag'"></tag>
      </tags>
    </page-view>
  </page-window>
</page>
