<sui-page [loading]="false">
    <sui-page-frame>
        <sui-linkages>
            <sui-linkage>
                <sui-icon [name]="'toys'"></sui-icon>
            </sui-linkage>
        </sui-linkages>
    </sui-page-frame>
    <sui-page-window>
        <sui-page-masthead [title]="'Styles'"></sui-page-masthead>
        <sui-page-view>
            <h2>Buttons</h2>
            <sui-buttons>
                <sui-action-button [title]="'Action'"><sui-icon [name]="'phone'"></sui-icon></sui-action-button>
                <sui-cancel-button [title]="'Cancel'"></sui-cancel-button>
                <sui-icon-button [title]="'Icon'">
                    <sui-icon [name]="'power'"></sui-icon>
                </sui-icon-button>
                <sui-link-button [link]="'http://www.google.com'" [title]="'Link'"></sui-link-button>
                <sui-submit-button [title]="'Submit'"></sui-submit-button>
            </sui-buttons>
            <h2>Cards</h2>
            <sui-cards>
                <sui-card>
                    <sui-card-content>
                        <p>
                            Lorem ipsum dolar sit ahmet consector.
                        </p>
                    </sui-card-content>
                </sui-card>
            </sui-cards>
            <h2>Grids</h2>
            <sui-grid></sui-grid>
            <h2>Icons</h2>
            <sui-icons>
                <sui-icon [name]="'power'"></sui-icon>
                <sui-icon [name]="'photo'"></sui-icon>
                <sui-icon [name]="'phone'"></sui-icon>
                <sui-icon [name]="'person'"></sui-icon>
                <sui-icon [name]="'tablet'"></sui-icon>
            </sui-icons>
            <h2>Forms</h2>
            <sui-form [formGroup]="formGroup">
                <sui-form-fields>
                    <sui-form-field>
                        <sui-multiple-select-input [formControlName]="'destinations'" [options]="destinations"></sui-multiple-select-input>
                    </sui-form-field>
                </sui-form-fields>
            </sui-form>
            <h2>Linkages</h2>
            <sui-linkages>
                <sui-linkage>
                    <sui-icon [name]="'person'"></sui-icon>
                </sui-linkage>
                <sui-linkage>
                    <sui-icon [name]="'tablet'"></sui-icon>
                </sui-linkage>
            </sui-linkages>
            <h2>Tags</h2>
            <sui-tags>
                <sui-tag [title]="'Tag'"></sui-tag>
            </sui-tags>
        </sui-page-view>
    </sui-page-window>
</sui-page>
