:host {
    display: flex;
    overflow: auto;

    table {
        background: {
            color: #2a2a2a;
        }
        border: {
            collapse: collapse;
        }
        width: 100%;

        tbody {
            tr {
                &:not(:last-child) {
                    border: {
                        bottom: {
                            color: #262626;
                            style: solid;
                            width: 1px;
                        }
                    }
                }

                td {
                    font: {
                        size: 14px;
                    }
                    padding: 12px 24px;
                    overflow: hidden;
                    text: {
                        overflow: ellipsis;
                    }
                    white: {
                        space: nowrap;
                    }
                }
            }
        }

        thead {
            &:not(:last-child) {
                border: {
                    bottom: {
                        color: #262626;
                        style: solid;
                        width: 1px;
                    }
                }
            }

            th {
                color: #888;
                font: {
                    size: 13px;
                    weight: bold;
                }
                padding: 16px 24px;
                text: {
                    align: left;
                }
            }
        }
    }
}
