<table>
  <thead>
  <tr>
    <th width="80"></th>
    <th>
      Title
    </th>
    <th>
      Description
    </th>
    <th>
      Tags
    </th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <img src="https://picsum.photos/32/32">
    </td>
    <td>
      19 William Bay Park Way Drive Way
    </td>
    <td>
      Drive way aspect on a laneway product
    </td>
    <td>
      <tags>
        <tag title="Laneway"></tag>
      </tags>
    </td>
    <td>
      <actions>
        <action></action>
        <action></action>
        <action></action>
      </actions>
    </td>
  </tr>
  <tr>
    <td>
      <img src="https://picsum.photos/32/32">
    </td>
    <td>
      19 William Bay Park Way Drive Way
    </td>
    <td>
      Drive way aspect on a laneway product
    </td>
    <td>
      <tags>
        <tag title="House"></tag>
      </tags>
    </td>
    <td>
      <actions>
        <action></action>
        <action></action>
        <action></action>
      </actions>
    </td>
  </tr>
  <tr>
    <td>
      <img src="https://picsum.photos/32/32">
    </td>
    <td>
      Outer suburbs brick house
    </td>
    <td>
      Standard street product with large street frontage
    </td>
    <td>
      <tags>
        <tag title="Street"></tag>
        <tag title="House"></tag>
        <tag title="Suburban"></tag>
      </tags>
    </td>
    <td>
      <actions>
        <action></action>
        <action></action>
        <action></action>
      </actions>
    </td>
  </tr>
  <tr>
    <td>
      <img src="https://picsum.photos/32/32">
    </td>
    <td>
      19 William Bay Park Way Drive Way
    </td>
    <td>
      Drive way aspect on a laneway product
    </td>
    <td>
      <tags>
        <tag title="Laneway"></tag>
        <tag title="House"></tag>
      </tags>
    </td>
    <td>
      <actions>
        <action></action>
        <action></action>
        <action></action>
      </actions>
    </td>
  </tr>
  <tr>
    <td>
      <img src="https://picsum.photos/32/32">
    </td>
    <td>
      City apartment
    </td>
    <td>
      Large development inner CBD
    </td>
    <td>
      <tags>
        <tag title="Apartment"></tag>
        <tag title="Building"></tag>
        <tag title="Lorem"></tag>
        <tag title="Dolar"></tag>
      </tags>
    </td>
    <td>
      <actions>
        <action></action>
        <action></action>
        <action></action>
      </actions>
    </td>
  </tr>
  </tbody>
</table>
