<table>
    <thead>
    <tr>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th>
            Tags
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            19 William Bay Park Way Drive Way
        </td>
        <td>
            Drive way aspect on a laneway product
        </td>
        <td>
            <sui-tags>
                <sui-tag title="Laneway"></sui-tag>
            </sui-tags>
        </td>
        <td>
            <sui-actions>
                <sui-action></sui-action>
                <sui-action></sui-action>
                <sui-action></sui-action>
            </sui-actions>
        </td>
    </tr>
    <tr>
        <td>
            19 William Bay Park Way Drive Way
        </td>
        <td>
            Drive way aspect on a laneway product
        </td>
        <td>
            <sui-tags>
                <sui-tag title="House"></sui-tag>
            </sui-tags>
        </td>
        <td>
            <sui-actions>
                <sui-action></sui-action>
                <sui-action></sui-action>
                <sui-action></sui-action>
            </sui-actions>
        </td>
    </tr>
    </tbody>
</table>
