@import "../../breakpoints/breakpoint/breakpoint";

:host {
    background: {
        color: var(--page-background-color);
    }
    display: grid;
    min: {
        height: 100vh;
    }
    grid: {
        template: {
            rows: 1fr min-content;
        }
    }
    overflow-scrolling: touch;
    scroll: {
        behavior: smooth;
    }
}
