@import "../../breakpoints/breakpoint/breakpoint";

:host {
  background: {
    color: var(--page-background-color);
  }
  display: grid;
  height: 100vh;
  grid: {
    template: {
      rows: 1fr min-content;
    }
  }
  overflow-scrolling: touch;
  overflow: hidden;
  scroll: {
    behavior: smooth;
  }
}
