@import "../../../breakpoints/breakpoint/breakpoint";

:host {
  display: grid;

  @media(min-width: breakpoint(medium, min)) {
    grid: {
      template: {
        rows: min-content 1fr;
      }
    }
    order: 1;
  }
}
