:host {
  display: grid;
  grid: {
    auto: {
      flow: row;
    }
    row: {
      gap: 12px;
    }
  }

  .cards {
    @media screen and (min-width: 600px) {
      grid: {
        auto: {
          flow: column;
        }
        column: {
          gap: 12px;
        }
        template: {
          columns: 1fr 1fr 1fr;
        }
      }
      justify: {
        content: start;
      }
    }

    @media screen and (max-width: 600px) {
      align: {
        content: start;
      }
      grid: {
        auto: {
          flow: row;
        }
        row: {
          gap: 12px;
        }
      }
    }
  }

  .label {
    &:empty {
      display: none;
    }

    &-title {
      color: var(--cards-title-color);
      display: block;
      font: {
        size: 24px;
        weight: lighter;
      }

      &:empty {
        display: none;
      }
    }
  }
}
