@import "../../../breakpoints/breakpoint/breakpoint";

:host {
  align: {
    content: start;
  }
  background: {
    color: var(--page-frame-background-color);
  }
  display: grid;
  left: 0;
  padding: 22px;

  &:empty {
    display: none;
  }

  @media(min-width: breakpoint(medium, min)) {
    grid: {
      auto: {
        flow: row;
      }
      row: {
        gap: 48px;
      }
    }
    height: 100vh;
    order: 0;
    position: sticky;
    top: 0;
  }

  @media(max-width: breakpoint(small, max)) {
    backdrop: {
      filter: blur(18px);
    }
    bottom: 0;
    grid: {
      auto: {
        flow: column;
      }
      column: {
        gap: 12px;
      }
      template: {
        columns: 1fr;
      }
    }
    justify: {
      content: space-between;
    }
    position: fixed;
    right: 0;
  }
}
