@import "../../../breakpoints/breakpoint/breakpoint";

:host {
  align: {
    content: start;
  }
  backdrop: {
    filter: blur(18px);
  }
  background: {
    color: var(--page-frame-background-color);
  }
  bottom: 0;
  display: grid;
  left: 0;
  grid: {
    auto: {
      flow: column;
    }
    column: {
      gap: 12px;
    }
    template: {
      columns: 1fr;
    }
  }
  justify: {
    content: space-between;
  }
  position: fixed;
  right: 0;
  padding: 22px;

  &:empty {
    display: none;
  }
}
