@import "~normalize.css";

html {
  @media(prefers-color-scheme: dark) {
    background: {
      color: #2a2a2a;
    }
  }

  @media(prefers-color-scheme: light) {
    background: {
      color: #ffffff;
    }
  }
}

:root {
  @media(prefers-color-scheme: dark) {
    --action-background-color: #dddddd;
    --active-action-background-color: green;

    --action-icon-color: #999999;
    --active-action-icon-color: #ffffff;

    --card-background-color: #101010;
    --card-padding: 24px;

    --page-background-color: #1a1a1a;

    --page-frame-background-color: #1a1a1a;

    --page-masthead-background-color: #330072;
    --page-masthead-color: #ffffff;

    --page-view-padding: 24px;

    color: #f9f9f9;
  }
}

* {
  box: {
    sizing: border-box;
  }
  font: {
    family: 'Open Sans';
  }

  &:focus {
    outline: none;
  }
}
