:host {
  align: {
    items: center;
  }
  border: {
    radius: 9999px;
  }
  cursor: pointer;
  display: flex;
  height: 26px;
  justify: {
    content: center;
  }
  transition: {
    duration: 500ms;
    property: transform;
    timing-function: cubic-bezier(0.87, -0.41, 0.19, 1.44);
  }
  width: 26px;

  &:not(.active){
    background: {
      color: var(--action-background-color);
    }
    --icon-color: var(--action-icon-color);
  }

  &.active{
    --icon-color: var(--active-action-icon-color);
    background: {
      color: var(--active-action-background-color);
    }
  }

  &:focus, &:hover {
    transform: scale(1.4);
  }
}
