:host {
  align: {
    items: center;
  }
  display: grid;
  grid: {
    template: {
      columns: 1fr;
    }
  }

  select {
    appearance: none;
    border: none;
    outline: none;
    font:{
      size: 16px;
    }
    line:{
      height: 20px;
    }
    padding: 12px;
    transition:{
      duration: 500ms;
      property: background-color;
    }

    &:not(:active){
      background:{
        color: rgba(#fff, 0.55);
      }
    }
  }
}
